* {
    margin:0;
}

#top {
    background-color:#333;
    width:100%;
    min-width:800px;
    height:110px;
    position: relative;
}

#header {
    background-image: url(../images/logo_scaled.png);
    width:592px;
    height:100px;
    margin: auto;
}

#middle {
    position:relative;
    min-width:800px;
    width:100%;
}

#menu {
    width:100%;
    min-width:800px;
    height:35px;
    background-color:#333;
    position:relative;
}

#navigation{
	position: relative;
	margin: auto;
	width:188px;
	height:35px;
}

.button {
    display:block;
    //background-color:#333;
    height:35px;
}
    .button p {
        text-align:center;
        margin-left:10px;
        margin-right:10px;
        margin-top:7px;
        color:white;
        cursor: pointer;
    }
    
#navigation .button{
	float:left;
}

#navigation .button:hover{
	background-color: green;
	cursor: pointer;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}


    
